@import 'src/styles/variables/index.scss';
@import 'src/styles/mixins/typography.scss';

.card__layout {
  background: rgba(245, 247, 250, 0.75);
  height: 100vh;
}

.card_page {
  background-color: rgba(255, 255, 255, 1);
  padding: 16px;
}

.card__item_colm {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.card__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(210, 212, 217, 1);
  padding: 16px;
}

.card__item:last-child {
  border-bottom: none;
}

.card__item_title {
  font-family: 'Moscow';
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin: 0;
}

.card__item_subtitle {
  font-family: 'Moscow Light';
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  line-height: 14.4px;
  margin: 0;
  color: rgba(119, 121, 133, 1);
}

.card__info_button {
  background: rgba(230, 240, 255, 1);
  color: rgba(29, 73, 136, 1);
  font-family: 'Moscow';
  font-weight: 300;
  font-size: 14px;
  line-height: 15.4px;
  border-radius: 10px;
  border: none;
  width: 141px;
  height: 40px;
}

.card__return_button {
  background-image: url('../../assets/card-return-button.svg');
  width: 16px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.card__item_battery {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.card__close_lock {
  background: rgba(230, 240, 255, 1);
  color: rgba(29, 73, 136, 1);
  font-family: 'Moscow';
  font-weight: 300;
  font-size: 14px;
  line-height: 15.4px;
  border-radius: 10px;
  border: none;
  width: 141px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4.5px;
}

.card__open_lock {
  background: rgba(230, 240, 255, 1);
  color: rgba(29, 73, 136, 1);
  font-family: 'Moscow';
  font-weight: 300;
  font-size: 14px;
  line-height: 15.4px;
  border-radius: 10px;
  border: none;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4.5px;
}
